body{
    background-color: #9CA39C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-color: blanchedalmond;
  }
li{
    float: left;
}
li div {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
div{
    display: block;
    padding: 8px;
    background-color: blanchedalmond;
}
div:hover{
    background-color: aquamarine;
    cursor: default;
}