body {
   background-color: #fafafa;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'Didot', 'Bodoni', serif;
 }
 
 .home, .new-interface {
   text-align: center;
   opacity: 1;
   transform: translateY(0); /* Initial position */
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
   margin: auto; /* Keep the text in the middle */
 }
 
 .hidden {
   opacity: 0;
   transform: translateY(50px); /* Move down initially to give upward motion */
 }
 
 #head {
   font-size: calc(100px + 2vw);
   color: #3d3d3d;
 }
 
 #text {
   font-family: 'Arial', sans-serif;
   font-size: 24px;
   margin-top: 20px;
   color: #3d3d3d;
 }
 
 #subtext {
   font-family: 'Arial', sans-serif;
   font-size: 16px;
   margin-top: 10px;
   color: #3d3d3d;
 }

 .home:hover, .new-interface:hover{
   cursor:default;
 }